<input type="file" (change)="changeFile($event)">

<div>
    <input (input)="changeControl($event.target.value)" type="range" list="tickmarks" min="0" max="{{images.length-1}}" step="1">
    <datalist id="tickmarks">
        <option *ngFor="let item of images; let i = index" value="{{i}}" label="{{i}}"></option>
    </datalist>
    <!-- <img src="../../assets/1.jpg" alt=""> -->
    <section>
        <ko-stage [config]="configShowStage">
            <ko-layer>
                <ko-rect [config]="configShow"></ko-rect>
            </ko-layer>

        </ko-stage>
        <br>
        <ko-stage [config]="configEditStage">
            <ko-layer>
                <ko-rect #show [config]="configEdit"></ko-rect>
            </ko-layer>
        </ko-stage>


    </section>

</div>