<input type="file" (change)="changeFile($event)">
<canvas #show height="450"></canvas>
<canvas #edit height="450"></canvas>
<div>
    <input type="range" list="tickmarks" min="0" max="10" step="1">

    <datalist id="tickmarks">
        <option value="0" label="0"></option>
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
        <option value="4"></option>
        <option value="5" label="5"></option>
        <option value="6"></option>
        <option value="7"></option>
        <option value="8"></option>
        <option value="9"></option>
        <option value="10" label="10"></option>
    </datalist>

    <img src="../../assets/1.jpg" alt="">
    <section>
        <ko-stage [config]="configStage">
            <ko-layer>
                <!-- <ko-circle [config]="configCircle" (click)="handleClick($event)"></ko-circle> -->
                <ko-image [config]="configImg"></ko-image>
                <!-- <ko-canvas></ko-canvas> -->
            </ko-layer>
        </ko-stage>
        <br>
    </section>

</div>